#main {
  position: absolute;
  height: 100%;
  width: 100%;
}
.day {
  background: linear-gradient(to bottom left, #d7d3ac, #ffffff);
}
.night {
  background: linear-gradient(to bottom left, #4854a2, #3d3d3d);
  color: white;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

.form-rounded {
  border-radius: 2rem;
}
.back-card {
  border-radius: 40px !important;
  color: white;
  background: linear-gradient(to bottom right, #707070, #434647);
  text-shadow: 2px 2px 2px #707070;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-weight: 400;
  font-size: 16pt;
}

.city-name span {
  position: relative;
  top: -50px;
  font-size: 40pt;
  font-family: 'Times New Roman', Times, serif;
}

.tempContainer {
  z-index: 1;
}

.condition {
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  text-transform: capitalize;
}

.high {
  font-size: 15px;
}

.low {
  font-size: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
